@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Marvel:ital,wght@0,400;0,700;1,400;1,700&family=Shadows+Into+Light&display=swap');

$pesto: #7A6730;
$pewter: #A4B1A6;
$pampas: #F3F0EB;
$sea-buckthorn: #FAAA34;
$rock-spray: #C04C08;
$logo: 'Shadows Into Light', sans-serif;
$title: 'Marvel', sans-serif;
$text: 'Laila', sans-serif;
