@use '/src/styles/vars';

.artwork {
  width: 70%;
  background-color: vars.$pampas;
  &__create {
    width: 100%;
    display: flex;
    justify-content: center;
    &__button {
      color: vars.$rock-spray;
      background-color: vars.$sea-buckthorn;
      border: none;
      border-radius: 5px;
      font-size: 25px;
      font-family: vars.$title;
      height: 3rem;
      padding: 0 1rem;
      margin: 1rem 0 0;
      cursor: pointer;
      &__plus {
        font-weight: bold;
      }
    }
  }
  &__filters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    transition: all 1s ease 0s;
    &__type, &__value {
      align-items: center;
      &__label {
        padding-right: 1rem;
      }
      &__select {
        border-radius: 5px;
        border: 1px solid vars.$pesto;
        height: 2rem;
        min-width: 8rem;
      }
    }
    &__submit {
      color: vars.$sea-buckthorn;
      background-color: vars.$rock-spray;
      border: none;
      border-radius: 5px;
      font-size: 20px;
      font-family: vars.$title;
      height: 2rem;
      padding: 0 1rem;
      margin-left: 2rem;
    }
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    &__photo {
      cursor: pointer;
      margin: 2rem;
      border-radius: 5px;
      border: 15px solid vars.$rock-spray;
      border-style: double;
      background-color: vars.$sea-buckthorn;
      max-height: 300px;
      max-width: 95%;
      width: auto;
      height: auto;
    }
  }
  &__item {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: vars.$pampas;
    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem;
      &__back_button {
        color: vars.$pesto;
        background: none;
        border: none;
        font-family: vars.$title;
        font-size: 23px;
      }
      &__last_buttons {
        height: 100%;
        display: flex;
        align-items: center;
        &__edit {
          color: vars.$rock-spray;
          background-color: vars.$sea-buckthorn;
          border: none;
          border-radius: 5px;
          font-size: 20px;
          font-family: vars.$title;
          height: 2rem;
          padding: 0 1rem;
        }
        &__delete {
          color: vars.$sea-buckthorn;
          background-color: vars.$rock-spray;
          border: none;
          border-radius: 5px;
          font-size: 20px;
          font-family: vars.$title;
          height: 2rem;
          padding: 0 1rem;
          margin-left: 2rem;
        }
      }
    }
    &__photo {
      width: 50% !important;
      &__image {
        object-fit: cover;
        min-height: 250px;
        width: 100%;
        border-radius: 5px;
        border: 15px solid vars.$rock-spray;
        border-style: double;
        background-color: #DF9C34;
      }
      &__arrow {
        color: vars.$pampas;
        display: flex;
        justify-content: space-between;
        position: relative;
        bottom: 50%;
        width: 100%;
        padding: 0 2rem;
        font-size: 2rem;
      }
    }
    &__text {
      padding-right: 3rem;
      width: 50% !important;
      &__title {
        font-family: vars.$title;
        font-size: 2rem;
        font-weight: bold;
        color: vars.$rock-spray;
        padding-bottom: 1rem;
      }
      &__dateandtechnique {
        font-style: italic;
        padding-bottom: 1rem;
      }
      &__collection {
        padding-bottom: 1rem;
      }
      &__status {
        color: vars.$pewter;
        padding-bottom: 1rem;
      }
      &__description {
        text-align: justify;
        text-justify: inter-word;
        line-height: 2rem;
      }
    }
  }
  &__message {
    text-align: center;
    padding: 2rem 1rem;
  }
}

@media screen and(max-width: 767px) {
  .artwork {
    width: 100%;
  }
}
